* {
  margin: 0;
  padding: 0;
  font-family: Calibri;
}

.answer,
h4 {
  text-align: center;
  padding: 5px;
}

.answer {
  color: rgb(141, 50, 163);
  padding-top: 100px;
}

/*Textbox*/
label {
  display: block;
  padding: 10px;
}

.numbers {
  display: grid;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  height: 35px;
  width: 700px;
}

.MathOperations {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

button[type="submit"] {
  height: 40px;
  width: 150px;
  color: white;
  background-color: rgb(61, 113, 182);
  border: none;
}

/*Media Query*/
@media(max-width:720px) {
  .operators {
    display: flex;
    flex-direction: column;
  }

  input[type="text"] {
    width: 100%;
  }
}